<h1>HATA_RAKU</h1>
  <%= render "shared/header" %>
    <h2 class='service-title'> 
      HATA_RAKUはみんなが働きやすくなるためのアプリです。
    </h2>
    <p class='service-explain'>
      ＜使い方＞
    </p>
    <p class='service-explain'>
      パートさんやアルバイトさんは自分の予定をアプリで提出し
    </p>
    <p>↓</p>
    <p class='service-explain'>
      このアプリが自動で集計して大枠のシフトを作成！
    </p>
    <p>↓</p>
    <p class='service-explain'>
      シフト作成担当者さんは調整するだけ！！
    </p>

